footer {
  margin-top: auto;
  width: 100%;
  height: 64px;
  z-index: 100;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}